/*********************************************************
// Filename: kronos-search.css
// Project: NRF
// Author: Core
// Date: 3/4/17
// Custom search refiners and results 
*********************************************************/

/* Refinement panel */ 
.refiner-item {
	margin-bottom:30px;
}
.refiner-item h5 {
	color:#fff;
	padding-bottom:0;
	margin-bottom:5px;
	font-size:16px;
}
.refiner-item h5::after {
	font-family:"FontAwesome";
	content:"\f18e";
	float:right
}
.refiner-item .refiner-picked ul {
	margin-left:10px;
}
.refiner-item .refiner-picked li a {
	background:#fff;
	display:inline-block;
	border:1px solid #eee;
	padding:0 3px;
	margin-bottom:2px;
	border-radius:3px
}
.refiner-item .refiner-picked li a::before {
	font-family:"FontAwesome";
	content:"\f05c  ";
	
}

/* Popup overrides - main styles inherited from main.css */
.popup {
    position: relative;
    display: block;
    cursor: pointer
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 400px;
    background-color: #fefefe;
    position: absolute;
    z-index: 100;
    top: -100%;
    left: 105%;
	padding-bottom:15px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
	right:inherit;
	left:-29px;
	top:15px;
	border-width:15px;
    border-color: transparent #fefefe transparent transparent;
}
	/* overrride jquery ui theme */
	.popup .popuptext .ui-widget.ui-widget-content {
		border:none;
		background:transparent;
		
	}
.popup .popuptext .popup-header a {
	font-size:14px;
	margin-bottom:15px;
	display:none;
}
.popup .popuptext .tree {
	overflow:auto;
	height:250px;
	clear:both;
}
.popup .popuptext .tree ul {
	padding-left:20px;
}

.popup .popuptext .popup-footer {
	margin-top:15px;
	text-align:center
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}  
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


/*==========  Responsive styles  ==========*/
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 880px) {
		
	.popup .popuptext {
		left:0;
		top:0;
		width:100%;
	}
	.popup .popuptext .popup-header a {
		display:block;
	}
	/* popup arrow */ 
	.popup .popuptext::after {
		display:none;
	}
	
}


